/* =============
    About
============= */

#about-me-container{
    height: 20vh;
    margin-top: 180px;
    margin-bottom: 30px;

    ul{
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        grid-template-areas: 
        "headshot headshot intro .";

        li{
            display: flex;
        }

        #headshot{
            grid-area: headshot;
            justify-content: center;
        }

        #intro{
            grid-area: intro;

            h1{
                text-align: left;
            }

            p{
                text-align: left;
            }
        }
    }
}