/* =============
    Resume
============= */

.resume-header{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 40px;
    margin-bottom: -40px;
    align-items: center;
}

.resume-header > div{
    width: 90vh;
}

.resume-container{
    display: flex;
    flex-direction: row;
    // margin-top: 150px;
    margin-left: 10px;
}

.resume-container > div{
    width: 90vh;
    margin: 30px;
}

@media (max-width: 800px){
    .resume-container{
        flex-direction: column;
    }
}