/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: "burger-container contact"
    "main-nav main-nav";
    padding: 25px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    @include md{
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "logo-container logo-container"
        "main-nav contact";
    }

    #burger-container{
        grid-area: burger-container;
        padding: 16px;
        display: flex;
        align-items: center;

        @include md{
            display: none;
        }

        button{
            padding: 0;
            color: var(--black);
        }
    }

    #contact{
        grid-area: contact;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 16px;
        padding-bottom: 16px;
    }

    #main-nav{
        grid-area: main-nav;

        @include md{
            display: block;
        }

        // see navigation scss file for styles
    }

    #logo-container{
        display: none;

        @include md{
            display: block;
            grid-area: logo-container;
            text-align: center;
        }
    }
}

.hideMainNav{
    display: none;

}