/* =============
    Buttons
============= */

button{
    border: none;
    background-color: transparent;
    
    a{
        text-decoration: none;
        color: inherit;
    }

}

.primary-button{
    background-color: var(--dark-green);
    padding: 8px 24px;
    font-weight: 750;
    font-size: rem-calc(18);
    color: var(--white);
    border-radius: 23px;
    transition: 0.25s;
    cursor: pointer;

    &:hover{
        background-color: var(--white);
        border-color: var(--dark-green);
        border-style: solid;
        color: var(--dark-green);

    }
    
}

.download-button{
    color: var(--black);
    cursor: pointer;
}