/* =============
    Navigation
============= */

a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
}

#main-nav{
    background-color: var(--dark-green);
    padding: 24px 16px;
    margin-top: 8px;

    @include md{
        background-color: var(--white);
        margin-top: 0;
    }

    ul{
        @include md{
            display: flex;
            align-items: center;
        }

        li{

            @include md{
                border-right: 1px solid var(--black);
            }

            a:link, a:visited{
                font-size: rem-calc(24);
                padding: 16px 0;
                display: inline-block;
                color: var(--black);

                @include md{
                    padding: 5px 24px;
                    font-size: rem-calc(18);
                }

                &:hover, &:active{
                    color: var(--dark-green);
                }
            }
        }

        #last-link{
            border: none;
        }
    }
}