/* =============
    Typography
============= */

body{
    font-family: "Open Sans", sans-serif;
}

.contentSectionTitle{
    font-size: rem-calc(28);
    font-weight: 750;
    margin-bottom: 16px;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

// font-family: "Comfortaa", sans-serif;

// font-family: "Open Sans", sans-serif;

// .comfortaa-<uniquifier> {
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

//   // <uniquifier>: Use a unique and descriptive class name
// // <weight>: Use a value from 300 to 800

// // .open-sans-<uniquifier> {
    
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//     font-variation-settings:
//       "wdth" 100;
//   }